.layout {
  height: auto;
  padding: 1em;
  border: 1px solid #7D31D4;
  margin: 2em;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.h2Layout {
  font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
    color: white;
    text-shadow: 0.075em 0.08em 0.2em rgba(0, 0, 0, 1);
}


.globalContent {
  display: grid;
  grid-template-columns: 50% 1fr;
}

/* /////////// */

.cardLabel::before{
  position: absolute;
  top:2rem;
  right: 2.2rem;
  content: '';
  background: #283593;
  height: 28px;
  /* width: 28px; */
  width: 42px;
  transform : rotate(45deg);
}

.cardLabel::after{
  position: absolute;
  content: attr(data-label);
  top: 15px;
  right: 32px;
  padding: 0.5rem;
  /* width: 10rem; */
  width: 12rem;
  background: #3949ab;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

/* /////////// */

.imgBox {
  display: flex;
  flex-direction: column;
  /* border: 2px solid brown; */
  align-items: center;
}

.imgMainProject {
  width: 23em;
  height: 100%;
  /* border: 2px solid green; */
  margin: 1em;
  margin-top: 0;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* cursor: pointer; */
}

.imgMainProject:hover {
  transform: scale(2);
  transition: transform 0.5s;
}

/* /////////// */

.btnBox {
  /* border: 1px solid green; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  
}

.btnBox button {
  margin-top: 0;
  margin-bottom: 0;
}

.btnMainProject {
  width: 10em;
  height: 3em;
  margin: 10px;
  border-radius: 10px;
}


@media screen and (max-width: 1360px) {
  .globalContent {
  display: flex;
  flex-direction: column;
}
  .rightBox {
  margin-top: 2em;
}
.h2Layout {
  display: flex;
  justify-content: center;
}

}

@media screen and (max-width: 468px) {
  .imgMainProject {
    width: 18em;
    height: 100%;
}
}

